Source: ros-kilted-aws-sdk-cpp-vendor
Section: misc
Priority: optional
Maintainer: Daisuke Nishimatsu <daisuke.nishimatsu1021@gmail.com>
Build-Depends: debhelper (>= 9.0.0), curl, libcurl4-openssl-dev, libssl-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-vendor-package, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, zlib1g-dev, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-aws-sdk-cpp-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, zlib1g-dev, ros-kilted-ros-workspace
Description: A vendor package for aws-sdk-cpp
